/****** Layout ******/
// Flex
.flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}

/****** Text ******/
.bold{
    font-weight: 600;
}

/****** Chart ******/
.chart{
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

    h3{
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
}